@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000; /* Fundo preto atualizado */
  color: white; /* Texto branco */
  margin: 0;
  font-family: Arial, sans-serif;
}

/* @import "tailwindcss"; */
